/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

.myjumbo{
  color: yellow;
  background-color: #929FBA;
  font-family: 'Arizonia', cursive;
}
.mybody {
  background-color: #FDEDEC;
}

.cardtext{
  
}

.cardfont {
  font-family: 'Cookie', cursive;
  font-size: 45px;
  color: #9900FF;
}

.myfoot {
  background-color: #FF0097;
}

.mycat {
  background-color: #66B6B4;
}

.navcol {
  color: #84147D;
}